@import "../../sass/sass_mixins/mixin";
@import "../../sass/sass_variables/variables";

.btn {
  font-family: Open Sans Condensed, sans-serif;
  font-size: 1.6rem;
  color: $grey-dark;
  background-color: $white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid $grey-light;
  outline: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.2s;

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    z-index: -1;
  }

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);
    &::after {
      opacity: 0;
      transform: scaleX(1.5) scaleY(2);
    }
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 1rem rgba($black, 0.2);
  }

  &--white {
    border: none;
    background-color: $white;
    color: $black;
    &::after {
      background-color: $white;
    }
  }

  &--black {
    border: none;
    background-color: $black;
    color: $white;
    &::after {
      background-color: $black;
    }
  }

  &--blue {
    border: none;
    background-color: $google-blue;
    color: $white;
    &::after {
      background-color: $google-blue;
    }
  }
}
