@import "../../sass/sass_mixins/mixin";
@import "../../sass/sass_variables/variables";

.collection-item {
  cursor: pointer;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 22%;
  height: 35rem;
  margin: 0.5rem;
  position: relative;

  @include respond(tab-port) {
    width: 40%;
  }

  @include respond(phone) {
    width: 100%;
  }

  &:hover {
    filter: brightness(110%);
  }

  &__button {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 5rem;
    opacity: 0.8;
  }

  &:hover &__button {
    display: flex;
    justify-content: center;
  }

  &__background-image {
    height: 95%;
    width: 100%;
    background-position: center;
    background-size: cover;
    @include respond(tab-port) {
      height: 90%;
    }
  }
  &__footer {
    height: 5%;
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      height: 10%;
    }

    span {
      height: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 1.6rem;
      @include respond(tab-port) {
        font-size: 1.4rem;
      }
    }

    &__title {
      width: 80%;
    }

    &__price {
      width: 20%;
    }
  }
}

// media query for touch-devices -- hover state is not relevant
@media only screen and (hover: none) {
  .collection-item {
    &__button {
      display: flex;
      justify-content: center;
      opacity: 0.9;
    }
  }
}
