@import "../../sass/sass_mixins/mixin";
@import "../../sass/sass_variables/variables";
/////////////////////// navigation ///////////////////////////
.navigation {
  &__label {
    position: fixed;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    display: inline-block;
    border-radius: 50%;
    background-image: radial-gradient($white, $grey-medium);
    text-align: center;
    z-index: 100;
    box-shadow: 0 2rem 4rem rgba($black, 0.2);
  }

  &__checkbox {
    display: none;
  }

  &__background {
    position: fixed;
    top: 1.5rem;
    right: 2.5rem;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    border-radius: 50%;
    background-image: radial-gradient($white, $grey-medium, $grey-dark);
    z-index: 50;
    transition: transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);
    // transform: scale(90);
  }

  &__icon {
    @include abscenter;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 3px;
      background-color: $grey-dark;
      display: inline-block;
      z-index: 150;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: transform 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  // animation
  &__label:hover &__icon::before {
    top: -1rem;
  }
  &__label:hover &__icon::after {
    top: 1rem;
  }
  &__checkbox:checked ~ &__background {
    transform: scale(90);
  }

  &__checkbox:checked + &__label &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__label &__icon::before {
    top: 0;
    transform: rotate(-135deg);
  }
  &__checkbox:checked + &__label &__icon::after {
    top: 0;
    transform: rotate(135deg);
  }
}
