@import "../../sass/sass_mixins/mixin";
@import "../../sass/sass_variables/variables";

.sign-up {
  display: inline-block;

  &__title {
    font-size: 3rem;

    @include respond(tab-port) {
      font-size: 2rem;
    }
    @include respond(phone) {
      font-size: 1.6rem;
    }
  }
  &__subtitle {
    font-size: 1.5rem;
    @include respond(tab-port) {
      font-size: 1.2rem;
    }
  }
  &__form {
    margin-top: 2rem;
  }
}

.btn-groups {
  margin: 1rem;
  padding: 0.5rem 1rem;
}
