@import "../../sass/sass_mixins/mixin";
@import "../../sass/sass_variables/variables";

.input-group {
  margin: 1rem;
  padding: 0.5rem 1rem;

  &__input {
    width: 100%;
    display: block;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 1.6rem;
    color: $grey-dark;
    border: none;
    border-bottom: 2px solid $grey-medium;
    outline: none;

    &:focus {
      box-shadow: 0 1rem 2rem rgba($black, 0.2);
    }
    &:focus:valid {
      border-bottom: 2px solid $green-light;
    }
    &:focus:invalid {
      border-bottom: 2px solid $red-light;
    }
  }

  //   animation
  &__input:placeholder-shown + &__label {
    transform: translateY(-1.6rem);
    opacity: 0;
    visibility: hidden;
  }

  &__label {
    width: 100%;
    display: block;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    transform: translateY(-4rem);
    transition: transform 0.3s;
  }
}
